<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="appxscripting.category.wizards"
            class="appxscripting.wizard.CustomProjectNewWizard"
            finalPerspective="org.eclipse.wst.jsdt.ui.JavaPerspective"
            icon="icons/newjprj_wiz.gif"
            id="appxscripting.wizard.new.custom"
            name="Platform Module Scripting Project"
            project="true">
      </wizard>
      <category
            id="appxscripting.category.wizards"
            name="AppXpress Wizards">
      </category>
   </extension>

</plugin>
